name: build

on:
  push:
    branches: [ "**" ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: windows x64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            triplet: x64-windows
          - name: windows arm64
            os: windows-11-arm
            target: aarch64-pc-windows-msvc
            triplet: arm64-windows

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: ${{ matrix.target }}

      - name: Build (Release)
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: recastxz-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/
          if-no-files-found: error